resources/data/*
resources/results/*
resources/results/*
resources/weights/*
.venv
.git
.vscode
models/sampler/rnn.py
models/sampler/transformer.py
train_sampler_transformer_encoder.ipynb
train_sampler_transformer_decoder.ipynb
train_sampler_rnn.ipynb
*pycache*
*pytest_cache*
*.pyc